section.search {
    overflow: hidden;

    label {
        @include text-effect( $very-big-font, $very-big-font, $nunito-font, 600, var( --main-text-color ) );
        line-height: 6.4rem;
        display: block;
        margin: 12rem 0 10rem 0;
    }

    .search__input {
        background: none;
        outline: none;

        width: 100%;
        height: auto;
        border-radius: 0.2rem;
        
        border-bottom-width: 0.3rem;
        border-bottom-color: var( --third-text-color );

        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        @include text-effect( $medium-font, $medium-font, $nunito-font, 500, var( --second-text-color ) );

        
        &::placeholder {
            @include text-effect( $medium-font, $medium-font, $nunito-font, 500, var( --third-text-color ) );
        }

    }

}

