.popup__wallpaper {
    position: relative;
    left: 0; top: 0;

    width: 100vw;
    height: 100vh;
    animation: popupAppearance .4s backwards;

    position: fixed;
    background-color: hsla(0, 0%, 13%, 0.144);
    z-index: 10;

    .popup {
        position: relative;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);

        padding: 4rem;
        background-color: var( --background-color );
        overflow: hidden;
    
        width: 60rem;
        box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.24);
        border-radius: 1rem;
    
        h3 {
            @include text-effect( $very-big-font, $very-big-font, $nunito-font, 600, var( --main-text-color ) );
            margin-bottom: 5rem;
        }
        
        input {
            @include text-effect( $medium-font, $medium-font, $lato-font, 500, var( --second-text-color ) );
            background: none;
            outline: none;
            margin: 1rem 0 4rem 0;
            
            width: 100%;
            height: auto;
            border-radius: 0.2rem;
            
            border-bottom-width: 0.3rem;
            border-bottom-color: var( --third-text-color );
    
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }
    
        .popup__buttons {
            display: flex;
            justify-content: space-between;
    
            .popup__buttons {
                transition: all .4s;
                @include text-effect( $big-font, $big-font, $nunito-font, 600, white );
                padding: 1.5rem 0;
                display: flex;
                justify-content: center;
                width: 100%;
                min-width: 4rem;
                border: none;
                outline: none;
                border-radius: 0.6rem;
                cursor: pointer;

                &:hover {
                    filter: brightness(120%);
                }
            }
            
            .popup__buttons__1 {
                background: linear-gradient(to bottom, #222222, hsla(0, 0%, 13%, 0.705));
                margin-right: 4rem;
            }
    
            .popup__buttons__2 {
                background: linear-gradient( to bottom, var( --main-color ), var( --light-main-color ) );
            }
        }
    }
}


@keyframes popupAppearance {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}