.button-section {
    z-index: 10;
    margin: auto;
    display: flex;
    justify-content: center;

    .button-section__button {
        cursor: pointer;
        position: fixed;
        bottom: 10rem;
    
        @include text-effect($very-big-font, $very-big-font, $nunito-font, 600, white);
        border: none;
        outline: none;
    
        background: linear-gradient(to bottom, $principal-color, hsla(241, 90%, 61%, 0.692));
        border-radius: 1rem;
        padding: 2rem 6rem;
    }
}