.card {
    font-size: 10px;
    width: 39em;
    height: 22.5em;
    border-radius: 2em;

    margin-bottom: 4.5em;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;

    .card__background {
        pointer-events: none;
        width: 100%;
        height: 14.5em;
        padding: 2em;
        
        #card__sponsorships {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2em;

            #card__logo {
                @include text-effect( $small-font, $small-font, $nunito-font, 700, var( --background-color ) );
                
                .card__logo--purple {
                    color: #4440F3;
                }

                .card__logo--green {
                    color: #40F56E;
                }

                .card__logo--blue {
                    color: #40E9F4;
                }

                .card__logo--red {
                    color: #F44073;
                }

                .card__logo--orange {
                    color: #F38B40;
                }

                .card__logo--yellow {
                    color: #F1F541;
                }
            }

            .card__flag {
                width: 2.5em;
                height: 2.5em;

                border-radius: 50%;
                z-index: 10;

                &::before {
                    content: '';
                    width: 2.5em;
                    height: 2.5em;

                    border-radius: 50%;
                    display: inline-block;
                    transform: translateX(-50%);
                    z-index: 1;
                }
            }

            .card__flag--purple {
                background-color: #3C39C6;

                &::before {
                    background-color: #1B1754;
                }
            }

            .card__flag--green {
                background-color: #39C45C;

                &::before {
                    background-color: #175324;
                }
            }

            .card__flag--red {
                background-color: #C63961;

                &::before {
                    background-color: #54172A;
                }
            }

            .card__flag--blue {
                background-color: #39BEC6;

                &::before {
                    background-color: #185355;
                }
            }

            .card__flag--yellow {
                background-color: #C4C73A;

                &::before {
                    background-color: #555418;
                }
            }

            .card__flag--orange {
                background-color: #CE783A;

                &::before {
                    background-color: #442613;
                }
            }
        }

        span {
            @include text-effect( $small-font, $small-font, $nunito-font, 600, var( --background-color ) );
        }
    }

    #card__data {
        pointer-events: none;
        width: 100%;
        height: 8em;
        background: linear-gradient(to right, #152331, #000000);
        padding: 2em 2.5em;  

        display: flex;
        align-items: center;

        #card__date {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 3em;
            margin-right: 1.8em;

            h3 {
                @include text-effect( 1.2em, 1.2em, $nunito-font, 700, white );
            }
            
            span {
                @include text-effect( 1.2em, 1.2em, $lato-font, 500, white );
            }
        }

        #card__agency {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 3em;
            margin-right: 14em;

            h3 {
                @include text-effect( 1.2em, 1.2em, $nunito-font, 700, white );
            }
            
            span {
                @include text-effect( 1.2em, 1.2em, $lato-font, 500, white );
            }
        }   

        #card__user-name {
            @include text-effect( 1.6em, 1.6em, $nunito-font, 500, white );
        }
    }
    
    .card__background--purple {
        background: linear-gradient(to right, #0F0C29, #4440F5, #24243E);
    }

    .card__background--green {
        background: linear-gradient(to right, #0C2911, #40F56D, #243E2B);
    }

    .card__background--blue {
        background: linear-gradient(to right, #0C2929, #40EAF5, #243E3E);
    }

    .card__background--red {
        background: linear-gradient(to right, #290C16, #F54073, #3E242B);
    }

    .card__background--orange {
        background: linear-gradient(to right, #29160C, #DC7F3C, #3E2F24);
    }

    .card__background--yellow {
        background: linear-gradient(to right, #29270C, #F1F540, #3E3D24);
    }
    
}

.card--select {
    transition: all .4s;
    transform: scale(0.9);
    border: 0.4rem outset var( --background-color );
    box-shadow: 0px 0px 0px 0.3rem var( --main-text-color );
}

@media (max-width: 1360px) {
    #card {
        font-size: 7px;
    }
}

@media (max-width: 1023px) {
    #card {
        font-size: 10px;
        margin-bottom: 2rem;

        &:nth-child(1n+2) {
            margin-left: 2rem;
        }
    }
}

@media (max-width: 767px) {
    #card {
        font-size: 6px;
    }
}