.search__content {
    margin-top: 6rem;

    h2 {
        @include text-effect( $big-font, $big-font, $nunito-font, 700, var( --main-text-color ) );
        margin-bottom: 2rem;
    }

    .search__list {
        max-height: 80rem;
        box-shadow: 0 0.3rem 1rem hsla(0, 0%, 0%, 0.103);
        border-radius: 0.5rem;

        .search__add__contact {
            cursor: pointer;
            height: 10rem;
            display: flex;
            align-items: center;

            &:hover {
                background-color: var( --fourth-text-color );
            }   

            &:hover span {
                color: var( --main-color );
            }   

            .search__add__contact__img {
                transition: all .4s;
                width: 2.6rem;
                margin: 0 2rem;
            }
            
            span {
                transition: all .4s;
                @include text-effect( $medium-font, $medium-font, $nunito-font, 500, var( --second-text-color ) );
            }
        }

        .search__contacts {
            position: relative;
            max-height: 80rem;
            overflow: auto;

            &::after {
                content: '';
                width: 100%;
                height: 0.2rem;
                background-color: var( --fourth-text-color );
                
                position: absolute;
                left: 0; bottom: 0;
            }

            ul {

                li {
                    @include text-effect( $medium-font, $medium-font, $nunito-font, 500, var( --second-text-color ) );
                    display: flex;
                    align-items: center;

                    height: 10rem;
                    list-style: none;
                    cursor: pointer;

                    &::before {
                        content: '';
                        margin: 0 2rem;
                        display: inline-block;
                        width: 2rem;
                        height: 2rem;
                        background: linear-gradient( to bottom, var( --main-color ), var( --light-main-color ) );
                        border-radius: 50%;
                        }

                    &:hover {
                        color: var( --main-color );
                        background-color: var( --fourth-text-color );
                    }   
                }
            }  
        }
    }
}