#payments {
    margin: 0px auto 8rem auto;

    #payments__container {
        width: 100%;
    
        display: flex;
        justify-content: space-between;

        .payments__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            span {
                @include text-effect($medium-font, $nunito-font, 600, $text-color);
                margin-top: 1.2rem;
            }
    
            .payments__wallpapers {
                transition: filter .4s;
                display: flex;
                align-items: center;
                justify-content: center;
    
                width: 18rem;
                height: 18rem;
    
                background: linear-gradient(to bottom, $principal-color, rgba(69, 66, 245, 0.74));
                border-radius: 1rem;
                cursor: pointer;
    
                &:hover {
                    filter: brightness(120%);
                }
            }
        }
    }

    
}

@media (max-width: 1360px) {
    html {
        font-size: 43.75%;
    }
}