/*Color*/
.light-mode:root {
    --main-color: #4440F5;
    --light-main-color: rgba(68, 64, 245, 0.75);
    --main-text-color: #13123F;
    --second-text-color: #222222;
    --third-text-color: #616161;
    --fourth-text-color: #F8F8F8;
    --background-color: #FFFFFF;
    --warning-color: #F54040;
    --warning-text-color: #FE9D9D;
}

/*Dark-mode*/
.dark-mode:root {
    --main-color: #4440F5;
    --light-main-color: rgba(68, 64, 245, 0.75);
    --main-text-color: #C2C0ED;
    --second-text-color: #DDDDDD;
    --third-text-color: #878787;
    --fourth-text-color: #141414;
    --background-color: #0D0D0D;
    --warning-color: #7C0101;
    --warning-text-color: #F75959;
}


/*Font*/
$very-big-font: 6.4rem;
$big-font: 4.8rem;
$medium-font: 3.2rem;
$small-font: 2.4rem;
$nunito-font: 'Nunito';
$lato-font: 'Lato';

/*Screen*/
$screen-size-1: 1260px;
$screen-size-2: 882px;
$screen-size-3: 85%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
    background-color: var( --background-color );
}

@mixin text-effect($font, $lineHeight, $family, $weight, $color) {
    font-size: $font;
    line-height: $lineHeight;
    font-family: $family, Arial, Helvetica, sans-serif;
    font-weight: $weight;
    color: $color;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 4px;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    max-width: $screen-size-1;
    width: 100%;
    margin: auto;
}

section {
    animation: appearPage .4s backwards;
    user-select: none;
}

@keyframes appearPage {
    0% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 1360px) {
    html {
        font-size: 43.75%;
    }
    #main {
        width: $screen-size-2;
    }
}

@media (max-width: 1023px) {
    #main {
        width: $screen-size-3;
    }
}


