/*Color*/
$principal-color: #4440F5;
$text-color: #13123F;
$dark-gray: #222222;
$light-gray: #F8F8F8;
$warning-color: #F54040;
$secondary-warning-color: #FE9D9D;

/*Font*/
$very-big-font: 6.4rem;
$big-font: 4.8rem;
$medium-font: 3.2rem;
$small-font: 2.4rem;
$nunito-font: 'Nunito';
$lato-font: 'Lato';

/*Screen*/
$screen-size-1: 1260px;
$screen-size-2: 882px;
$screen-size-3: 85%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}

@mixin text-effect($font, $lineHeight, $family, $weight, $color) {
    font-size: $font;
    line-height: $lineHeight;
    font-family: $family, Arial, Helvetica, sans-serif;
    font-weight: $weight;
    color: $color;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 4px;
}

#main {
    max-width: $screen-size-1;
    width: 100%;
    margin: auto;
}

section {
    animation: pageAppearance .4s backwards;
    user-select: none;
}

@keyframes pageAppearance {
    0% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 1360px) {
    html {
        font-size: 43.75%;
    }
    #main {
        width: $screen-size-2;
    }
}

@media (max-width: 1023px) {
    #main {
        width: $screen-size-3;
    }
}


