/*Color*/
$principal-color: #4440F5;
$text-color: #13123F;
$dark-gray: #222222;
$light-gray: #F8F8F8;
$warning-color: #F54040;
$secondary-warning-color: #FE9D9D;

/*Font*/
$bold-font: 4.8rem;
$medium-font: 3.2rem;
$light-font: 2.4rem;
$nunito-font: 'Nunito';
$lato-font: 'lato';

/*Scree*/
$screen-size: 1260px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}

@mixin text-effect($font, $family, $weight, $color) {
    font-size: $font;
    font-family: $family, Arial, Helvetica, sans-serif;
    font-weight: $weight;
    color: $color;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 4px;
}