#transactions {
    margin: 0px auto 10rem auto;

    #transactions__title {

        h2 {
            @include text-effect($bold-font, $nunito-font, 700, $text-color );
            margin-bottom: 3.2rem;
        }
    }

    #transactions__historic {
        width: 100%;
        max-height: 80rem;
        overflow: auto;

        padding: 0px 4rem;
        box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.103);
        border-radius: 1rem;

        .transactions__historic__itens {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            width: 100%;
            height: 12rem;

            &::after {
                content: '';
                position: absolute;
                display: block;
                align-self: flex-end;

                max-width: 118rem;
                width: 100%;
                height: 0.2rem;
                background-color: $light-gray;
            }

            .transactions__info {
                display: flex;

                .transactions__data {
                    display: flex;
                    flex-direction: column;
                    margin-left: 2rem;

    
                    .transactions__name {
                    
                        span {
                            @include text-effect($medium-font, $nunito-font, 500, $dark-gray );
                        }
                    }
        
                    .transactions__date {
        
                        span {
                            @include text-effect($light-font, $nunito-font, 500, $dark-gray );
                        }
                    } 
                }
            }

            .transactions__amount {

                span {
                    @include text-effect($light-font, $lato-font, 500, $dark-gray );
                }
            } 
        }
    }
}

@media (max-width: 1360px) {
    html {
        font-size: 43.75%;
    }
}