.footer {
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, var( --main-color ), var( --light-main-color ));

    margin-top: 10rem;
    bottom: 0rem;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    span {
        @include text-effect($small-font, $small-font, $nunito-font, 600, white )
    }
}