#erro {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    text-align: center;

    #erro__number {
        @include text-effect(30rem, 30rem, $lato-font, 700, var( --main-color ));
        margin-bottom: 2rem
    }

    #erro__warning {
        @include text-effect(9.6rem, 9.6rem, $nunito-font, 700, var( --main-text-color ));
        margin-bottom: 4rem
    }

    #erro__button {
        display: flex;
        align-items: center;
        justify-content: space-between;

        cursor: pointer;
    
        @include text-effect( $very-big-font, $very-big-font, $nunito-font, 600, var( --background-color ) );
        border: none;
        outline: none;
    
        background: linear-gradient( to bottom, var( --main-color ), var( --light-main-color ) );
        border-radius: 1rem;

        width: 45rem;
        padding: 2rem 10rem;

        img {
            width: 4.26rem;
            height: 4rem;
        }
    }
}
