#header {
    width: 100%;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    #header__color {
        width: 100%;
        height: 30px;
        background-image: linear-gradient( to bottom, rgb(67, 64, 245), rgba(69, 66, 245, 0.459));
    }

    #header__nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        max-width: $screen-size;
        width: 100%;
        height: 110px;
        margin: 0px 50px;

        #header__menu {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            cursor: pointer;
            width: 60px;
            height: 48px;
            
            .header__menu__tickness {
                width: 60px;
                height: 8px;
                background-color: $text-color;
                border-radius: 2px;
            }

            .header__menu__tickness__2 {
                width: 40px;
                margin: 12px 0px;
            }
        }

        #header__profile {
            cursor: pointer;
        }
    }
}

@media (max-width: 1360px) {
    #header {
        margin-bottom: 80px;

        #header__color {
            height: 20px;
        }

        #header__nav {
            width: 760px;
            height: 74px;

            #header__menu {
                width: 40px;
                height: 32px;
            
                .header__menu__tickness {
                    width: 40px;
                    height: 5px;
                }

                .header__menu__tickness__2 {
                    width: 28px;
                    margin: 8px 0px;
                }
            }
            
            #header__profile {
                width: 40px;
            }
        }
    }
}

@media (max-width: 860px) {
    #header {

        #header__nav {
            width: 90%;
        }
    }
}

@media (max-width: 500px) {
    #header {
        margin-bottom: 60px;
        
        #header__nav {
            height: 64px;
        }
    }
}
