.search__container {
    width: $screen-size;
    margin: auto;
    overflow: hidden;

    label {
        @include text-effect(64px, $nunito-font, 600, $text-color );
        line-height: 64px;
        display: block;
        margin: 120px 0px 100px 0px;
    }

    .input {
        background: none;
        outline: none;

        width: 100%;
        height: auto;
        border-radius: 2px;
        
        border-bottom-width: 3px;
        border-bottom-color: #616161;

        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;

        @include text-effect($medium-font, $nunito-font, 500, $dark-gray );
        line-height: 36px;

        
        &::placeholder {
            @include text-effect($medium-font, $nunito-font, 500, #616161 );
            line-height: 36px;
        }

    }

    .warning {
        animation: smooth .4s;
        display: flex;
        align-items: center;

        width: 100%;
        height: 80px;
        background-color: $secondary-warning-color;

        margin-top: 40px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid $warning-color;

        span {
            margin-left: 12px;
            @include text-effect($medium-font, $nunito-font, 600, $warning-color);
        }
    }
}

@keyframes smooth {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}