.warning {
    animation: smooth .4s;
    display: flex;
    align-items: center;

    width: 100%;
    height: auto;
    background-color: var( --warning-text-color );

    margin-top: 4rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var( --warning-color );

    img {
        width: 4rem;
    }

    span {
        margin-left: 1.2rem;
        @include text-effect($medium-font, $medium-font, $nunito-font, 600, var( --warning-color ) );
    }
}

@keyframes smooth {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 540px) {
    .search__container {

        .warning {
            height: auto;
        }
    }
    
}